.article_content{
    width:1200px;
    margin:50px auto 30px;
    background-color:#fff;
}
/**左侧**/
.art_left{
    width: 150px;
    float: left;
    margin-right: 25px;
}
.leftTop {
    border: 1px solid #cccccc;
    margin-bottom: 12px;
}
.art_Title{
    width: 148px;
    background-color: #b5c8df;
    text-align: center;
    color: #ffffff;
    font-family: Microsoft Yahei;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
    margin-bottom: 7px;
}
.left_nav{
    width: 148px;
}

.left_nav .on{
	background:#b5c8df;
}
.left_nav .on>a{
	color:#FFFFFF;
}
.left_nav_bottom{
    height: 38px;
    text-align: left;
    border-top: 1px dotted #a5a5a5;
}
.left_nav_bottom img{
    margin:0 10px 3px 16px;
}
.left_nav li a {
    line-height: 38px;
    text-align: left;
    font-size: 15px;
    font-family: Microsoft Yahei;
}
/**中间**/
.art_middle{
    width: 760px;
    border: 1px #ccc solid;
    float: left;
}
.art_padding{
    padding: 25px;
}
.newscontentTitle{
    line-height: 40px;
    font-size: 20px;
    color: #333;
    text-align: center;
    font-family: Microsoft Yahei;
}
.newsDesc {
    text-align: center;
    font-size: 14px;
    color: #666;
    border-bottom: 1px #999 dotted;
    line-height: 35px;
    padding-bottom: 10px;
}
.newsDesc b {
    margin-left: 10px;
    font-weight: bold;
}
.news-icon{
    text-align: center;
    height: 30px;
    width: 370px;
    margin: 0 auto;
    margin-top: 10px;
}
.news-icon ul{
    text-decoration: none;
}
.news-icon ul li {
    cursor: pointer;
}
.newsContent {
    padding-top: 10px;
    line-height: 26px;
    font-size: 14px;
    color: #666;
}
.newsContent img{width:600px;}
.mix_ico {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 5px;
    background: url("../images/tpl/mix_icon.png") no-repeat;
}
.info-ico_wo {
    background-position: 0px -30px;
}
.info-ico_ph {
    background-position: 0px -60px;
}
.info-lz {
    width: 70px;
    height: 30px;
    float: left;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
}
.hover_sj .tips {
    position: relative;
    top: -53px;
    left: 100px;
    width: 240px;
    height: 280px;
    padding-top: 5px;
    visibility: hidden;
    z-index: 999;
    opacity: 0.0;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.hover_sj .hover {
    background:#28292E;
    visibility:visible;
    top:-123px;
    left:150px;
    opacity:1;
}

.hover_sj .tips .tipscont {
width: 100%;
position: absolute;
margin-top: 10px;
}
#qrlogo {
    display: block;
    position: relative;
    top: -123px;
    left: 100px;
}
#qrcode {
    width: 213px;
    height: 213px;
    display: block;
    margin: 0 auto;
}

/**article left**/
.art_right{
    width: 240px;
    height: auto;
    overflow: hidden;
    float: left;
    margin-left: 15px;
}
.newstopBox{

}
.newstopBox h2 {
    font-size: 16px;
    font-family: Microsoft Yahei;
    color: #333;
    line-height: 40px;
    padding-left: 20px;
    background: url(../images/tpl/topTitle1.png) no-repeat bottom;
}
.newstopBox h2 p{
    display: inline;
    color:#ECA392;
}
.newstoplist{
    padding-left: 10px;
    width: 240px;
}
.newstopBox ul.newstoplist li {
	display:block;
    line-height: 40px;
    border-bottom: 1px #ccc dotted;
	padding:10px 0;
	overflow: hidden;
}
.newstopBox ul.newstoplist li span {
	width:18px;
	height:18px;
	line-height:18px;
    background: #B5C8DF;
    color: #fff;
    font-size: 12px;
	text-align:center;
	float:left;
}
.newstopBox ul.newstoplist li a {
    font-size: 12px;
    line-height: 18px;
	margin-left:10px;
    color: #333;
    text-decoration: none;
	float:left;
}
.newsbuttomBox {
    width: 240px;
    padding: 10px;
}
.newsbuttomBox a{
    display: block;
    width: 228px;
    border: 1px #ccc solid;
    margin-top: 10px;
}
.adimg{
    padding:10px;
    width: 208px;
}
.hover_sj .tips .tipscont p {
    text-align: center;
    font-size: 15px;
    line-height: 21px;
}
.tipscont #arrow {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    left: -30px;
    top: -150px;
    background: url(../images/tpl/mix_icon.png);
    background-position: 0 -270px;
}

/*-----------------------------------列表页面 start----------------------*/
.art-item{
	padding: 8px 25px 0;
	height:276px;
}
/*标题*/
.art-item h1{
	font-size:21px;
	line-height:53px;
}

.item-main{
	display:block;
	border-bottom: 1px dotted #a5a5a5;
	height:215px;
}

.item-main .item-info{
	width:505px;
	height:215px;
	float:left;
	border-top:1px solid #d0d0d0;
}
/*属性*/	
.item-info .newsDesc{
	width:100%;
	border:none;
	text-align: left;
	padding:0;
	margin-left:-10px;
	line-height:28px;
}
/*功能按钮*/
.item-info .news-icon{
	margin:5px 0 23px 0;
}

/*描述*/
.item-info .item-desc{
	color:#848383;
	font-size:13px;
	line-height:22px;
}

.item-img{
	float:right;
	width:180px;
	height:180px;
	padding:5px;
	background:#e4e4e4;
}
.item-img img{
	width:180px;
	height:180px;
}
/*-----------------------------------列表页面 end----------------------*/