@charset "utf-8";
/* CSS Document */
/***** -----   Initialization   -----*****/
html, body, div, span, h1, h2, h3, h4, h5, h6, hr, p, a, samp, strong, blockquote, dl, dt, dd, ul, ol, li, pre, form, label, table, tbody, tr, th, td, img { border:0; margin:0; padding:0; font-size:100%; }
input, textarea, select { margin:0; padding:0; outline:none;}
a { text-decoration:none; outline:none; }
a:hover { text-decoration:none; }
a:active { star:expression(this.onFocus=this.blur()); }
a:focus { outline:0; }
textarea, select { background:#fff; resize:none;padding: 10px }
body { font: 12px/1.5 \5B8B\4F53, Tahoma, Helvetica, Arial, sans-serif;font-family:Microsoft Yahei; }
ul, ol { list-style:none; }
em, i { font-style:normal; }
table { border-collapse: collapse; border-spacing: 0; }
.clearfloat, .clears { clear:both; height:0; line-height: 0px; font-size: 1px; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }
.none { display:none; }
.block { display:block; }
* { margin: 0;  padding: 0;}
/***** -----   Ending Initialization   -----*****/
/*头部导航*/
.top{background: none repeat scroll 0 0 #000;  }
.toper{height: 52px;  margin: 0 auto;  overflow: hidden;  width: 1188px;}
.head_top{ width: 250px ;height: 30px; float: left; margin-top: 10px; background: url("../images/tpl/head_top_03.png") no-repeat;}
.toper b{color: #fff;  float: left;  font-family: "微软雅黑";  font-size: 14px;  line-height: 52px;  padding: 0 10px 0 15px;  text-transform: uppercase;  }
.tr {float: right;}
.mouth{float: left;  padding: 3px 0 0;}
 i{font-style: normal;}
.tr i img{float: left;}
 a img {border: 0 none;}
/*.head{ height: 130px;}*/
 a.welcome2 {  background: url("../images/tpl/bg97.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);  display: block;  height: 24px;  margin: 15px 0 0;  width: 31px;  }
 a { color: #333;  cursor: pointer;  outline: medium none;  text-decoration: none;  }
.tr strong {  color: #fff;  float: left;  font-size: 16px;  font-weight: normal;  line-height: 52px;  padding: 0 10px;  }
.tr strong a {  color: #fff;  }
.tr span {  float: left;  padding-top: 15px;  }
.tr strong small {font-size: 24px;}
.tr strong em {font-size: 24px;}
/*.menu{ height:87px;background:#fff; overflow:hidden; margin-left:auto; margin-right:auto;}*/
.f2{ font-size: 16px;}

.head_nav .nav {float: right;  width: 700px;  height: 51px;  margin-top: 20px;  }
.head_nav .nav ul {  width: 700px;  }
.head_nav .nav li {  float: left;  text-align: center;  width: 116px;  height: 70px;  }
.head_nav .nav li  a span {  display: block;   font-size: 18px;  font-family: "微软雅黑";  }
.head_nav .nav li  a font { color: #c3c3c3;  text-transform: uppercase;  font-size: 13px;  font-family: Arial,Helvetica,sans-serif;  display: block;  }

.head_nav .nav li a{display:block; height:85px;  text-decoration:none; position:relative; overflow:hidden;}
.head_nav .nav li a.current{background:url(../images/tpl/nav_bg.gif) no-repeat center;}
.head_nav .nav li  a span{color:#000}
.head_nav .nav li  a:hover span{color:#fd7400}

.head_nav .nav li  a:hover font{ color: #000000}
.head_nav .nav li .box{width:100%; position:absolute;height:50px; top:140px;left:0;padding-left:200px;background:#000;display:none;opacity:0.5; z-index:9999;}
.head_nav .nav li .box a{display:block;height:50px;float:left;color:#ddd;line-height:50px;border:none;background:none;font-size:15px; text-align: center; margin-right: 30px}
.head_nav .nav li .box a:hover{text-decoration:none;color:#FD7400}

.head_nav{ width: 1200px; margin: 0 auto;height: 90px}
.head_nav .logo{ height: 51px;width: 300px;padding: 10px; float: left;}
.drop{ float: left; margin-left: 30px;  margin-top: 24px;}
.nav_c .down font {background: url("../images/tpl/arrow2.gif") no-repeat scroll 86px 16px rgba(0, 0, 0, 0); }
.nav_c a font { padding: 5px 24px 10px;  font-size: 18px ;font-family: "微软雅黑"}
.box_c a {text-align: center}
.box_c {  width: 80px;  position: absolute;  left: 450px;  height: auto;  background: none repeat scroll 0% 0% #fff;  display: none; z-index: 9999;  opacity: 0.6;  border: 1px solid #C4C4C4;  }
.box_c_title{ width: 80px;height: 40px; text-align: center;border-bottom: 1px solid #C4C4C4;margin-top: 10px;color: #000000;font-family: Microsoft Yahei; font-size: 15px}
.menu .nav_c{ float: left;overflow: hidden; color: #333; font-family: Microsoft Yahei; font-size: 15px}
.banners{height:59px; background:#002496;}
.ban{width:960px;margin:auto; line-height:59px; }
.ban a{font-size:15px; font-family:Microsoft Yahei;color:#ddd; padding:0 15px;}
.ban a:hover{color:#fff; text-decoration:none;}
/*  15/02/28*/

.fgx3{height:63px;  text-align:center;  background: url(../images/tpl/bg_fx4.png) repeat-x;}#main_tools {height: 63px;   margin: 0px auto;width:1200px;  }
#main_tools li {  float: left;  }
#main_tools li img {  border: medium none;height:63px;width:300px;  }
/*首页标题*/
.con_a002{padding-bottom: 30px;}
/*.con_a004{padding-bottom: 30px; }*/
#float05{padding-bottom: 30px;}
.title_01 { height: 100px;  border-bottom: 1px solid #C4C4C4; padding-top: 30px;}
.title_nav   {height: 40px;width: 1200px ; background: url("../images/tpl/mix_title.png") no-repeat;}
.title_nav_01{ height: 40px;width: 1200px ; background: url("../images/tpl/mix_title.png") no-repeat; background-position:0px -200px ;}
.title_nav_02{ height: 40px;width: 1200px ; background: url("../images/tpl/mix_title.png") no-repeat; background-position:0px -40px ;}
.title_nav_03{ height: 40px;width: 1200px ; background: url("../images/tpl/mix_title.png") no-repeat; background-position:0px -80px ;}
.title_nav_04{ height: 40px;width: 1200px ; background: url("../images/tpl/mix_title.png") no-repeat; background-position:0px -120px ;}
.title_nav_05{ height: 40px;width: 1200px ; background: url("../images/tpl/mix_title.png") no-repeat; background-position:0px -160px ;}
.title_nav_06{ height: 40px;width: 1200px ; background: url("../images/tpl/mix_title.png") no-repeat; background-position:0px -240px ;}
.title_nav_07{ height: 40px;width: 1200px ; background: url("../images/tpl/mix_title.png") no-repeat; background-position:0px -280px ;}
.title_nav_08{ height: 40px;width: 1200px ; background: url("../images/tpl/mix_title.png") no-repeat; background-position:0px -320px ;}
.title_nav_09{ height: 40px;width: 1200px ; background: url("../images/tpl/mix_title.png") no-repeat; background-position:0px -360px ;}
.title_nav_10{ height: 40px;width: 1200px ; background: url("../images/tpl/mix_title.png") no-repeat; background-position:0px -400px ;}
.title_foot_01 { height: 45px;  width: 1200px;  margin: 15px auto;  background: url("../images/tpl/mix_exp.png") no-repeat;}
.title_foot_02 { height: 45px;  width: 1200px;  margin: 15px auto;  background: url("../images/tpl/mix_exp.png") no-repeat; background-position: 0px -40px;}
.title_foot_03 { height: 45px;  width: 1200px;  margin: 15px auto;  background: url("../images/tpl/mix_exp.png") no-repeat; background-position: 0px -80px;}
.title_foot_04 { height: 45px;  width: 1200px;  margin: 15px auto;  background: url("../images/tpl/mix_exp.png") no-repeat; background-position: 0px -120px;}
.title_foot_05 { height: 45px;  width: 1200px;  margin: 15px auto;  background: url("../images/tpl/mix_exp.png") no-repeat; background-position: 0px -160px;}
.title_01_1{ height: 100px;  padding-top: 30px;}
.title_01 .imgLink{ padding-bottom: 0;}
.title_01 .imgLink a{  display: block;  height: 28px;  margin: 0 auto;  width: 492px;}
.a_l1_t{ margin: 0 auto; width: 1200px ; text-align: center; margin-top: 15px;}
.a_l1_t span{font-size: 24px; font-family: "微软雅黑"}
.b_ul_t li{ float: left; font-size: 13px; }
.c_l{ margin: 0 auto ; width: 800px}
.a_l1_t h5 { text-align: center;  padding: 15px 15px;  line-height: 16px;  height: 16px;  color: #868686;  }
.a_l1_t h5 a{color: #8b8b8b;font-size: 15px; font-family: "宋体";/* font-weight: normal; */}
.a_l1_t h5 ul {display: inline-block;  text-align: center;  line-height: 16px;  height: 16px;  color: #868686;  }
.a_l1_t h5 ul li { display: inline-block;  padding: 0px 6px;  line-height: 16px;  height: 16px; }
/*banner*/

/* flexslider */
.flexslider{margin:0 auto;position:relative;/*height:600px;*/overflow:hidden;zoom:1;}
.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}
.flexslider .slides{zoom:1;}
.flex-direction-nav a{width:60px;height:90px;line-height:99em;overflow:hidden;margin:-60px 70px 70px;display:block;background:url(../images/tpl/ad_ctr.png) no-repeat;position:absolute;top:50%;z-index:10;cursor:pointer;opacity:0;filter:alpha(opacity=0);-webkit-transition:all .3s ease;}
.flex-direction-nav .flex-next{background-position:0 -90px;right:0;}
.flex-direction-nav .flex-prev{left:0;}
.flexslider:hover .flex-next{opacity:0.8;filter:alpha(opacity=25);}
.flexslider:hover .flex-prev{opacity:0.8;filter:alpha(opacity=25);}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{opacity:1;filter:alpha(opacity=50);}
/*.flex-control-nav{width:100%;position:absolute;bottom:10px;text-align:center;}*/
.flex-control-nav li{margin:0 5px;display:inline-block;zoom:1;*display:inline;}
.flex-control-paging li a{background:url(../images/tpl/dot.png) no-repeat 0 -16px;display:block;height:16px;overflow:hidden;text-indent:-99em;width:16px;cursor:pointer;}
.flex-control-paging li a.flex-active{background-position:0 0;}
/*内容*/
.con_a001{width: 1200px; margin: 0 auto; }
.con_a008{width: 1200px; margin: 0 auto; }
.conter ul{text-decoration: none;}
#float01{background: #F3F3F3}
.xl_001{ border: 8px solid #FFFFFF;}
.xl_001 .b{ height: 535px; width: 393px;}
.xl_001 .b .rsp{height: 535px; width: 393px}
.xl_001 ul li{float:left;display:inline;width:395px;height:267px;overflow:hidden;position:relative;}
.xl_001 .rsp{width:395px;height:267px;overflow:hidden;position: absolute;background:#000;top:0px;left:0px;}

.al_001{ text-align: center; height: 50px; font-size: 16px; color: #C4C4C4;padding-top: 20px}
.al_001 .more {
 background: url("../images/tpl/mix_icon.png") no-repeat scroll 0 -213px rgba(0, 0, 0, 0);
 height: 30px;
 margin: 0 auto;
 padding-left: 35px;
 text-align: left;
 width: 230px;
}
/*.clear:after{
 content: ".";
 height: 0;
 visibility: hidden;
 display: block;
 clear: both;
}*/
.xl_001 ul { overflow: hidden;}
.xl_001 ul a.bigImg {   float: left;  height: 535px;  margin: 0 2px 0 0;  width: 393px;}
.xl_001 ul a.smallImg {   display: inline;  float: left;  height: 267px;  margin: 0 2px 1px;  width: 395px;}
.zl_001 ul li a{color: #000000;font-size:17px;font-weight: 200;}
.zl_001{ width: 1200px;margin: 0 auto;font-size: 14px;}
.zl_001 h5{ color: #868686;  height: 16px;  line-height: 16px;  padding: 30px 0 30px;  text-align: center;}
.zl_001 ul{ color: #868686;  display: inline-block;  height: 16px;  line-height: 16px;  text-align: center;}
.zl_001 ul li{border-right: 1px solid #ccc;  display: inline-block;  height: 16px;  line-height: 16px;  padding: 0 5px; }
.zplist { overflow: hidden;  width: 980px; margin: 0 auto ;background: #C4C4C4;}
.zplist ul {width: 980px;  }
.zplist ul li { float: left;  }
.zplist ul li a {  color: #fff;  display: block;  height: 484px;  margin-bottom: 9px; /*margin-right: 9px;*/  overflow: hidden;  position: relative;  width: 245px;  }
.zplist ul li a ins {  background: url("../images/tpl/n08.png") repeat scroll 0 0 rgba(0, 0, 0, 0);  display: block;  height: 429px;  left: -290px;  position: absolute;  top: 0;  width: 245px;  }
/*广告*/
.ad_001{ width: 1200px ; height: 440px ;margin: 0 auto;}
.ad_001_img01{ width: 560px; float: left; padding: 20px;}
.ad_001_img02{width: 560px; float: left;padding: 20px;}
/*导航条*/
.huan_title{ width:1200px; margin: 0 auto;  height: 60px; font-size: 20px; text-align: center;padding: 6px}
.huan_bt{ float: left; width: 235px;height: 60px;color: #000000;border-right: 1px solid #cacaca; border-bottom: 1px solid #cacaca;}
/*.huan_title .huan_bt a{ float: left; width: 235px;height: 40px;color: #000000;border-right: 1px solid #cacaca; border-bottom: 1px solid #cacaca;}*/
/*.huan_title .huan_bt a:hover{float: left; width: 235px;height: 40px; color: #fd7400;border-right: 1px solid #000; border-bottom: 1px solid #000;}*/
.huan_bt_hv{ float: left; width: 235px;height: 60px; color: #fd7400;border-right: 1px solid #000; border-bottom: 1px solid #000;}
.huan_bt_hv a{color:#F57714;}
.menu_more{  width:150px;margin:10px auto 0;background: url("../images/tpl/mix_icon.png") no-repeat; background-position: 0px -210px; }

.huan_cen{width: 1200px; margin: 0 auto;overflow: hidden;display: none;height: 508px;}
.huan_cen dt { text-align: center; font-size: 20px; padding: 10px;}
.huan_cen ul li { float: left;  padding: 25px 0 0 20px;  width: 579px;height:110px;  }
.huan_cen ul li a { display: block;  }
.huan_cen ul li a img {  float: left; }
.nr {float: left;  padding: 0 0 0 12px;  width: 460px;  }
.nr p{font-size:14px;line-height:18px;}
.nr p,.nr span{color:#717171}
.huan_cen ul li a b {  color: #5d5c5c;  display: block;  font-family: "微软雅黑";  font-size: 20px;  line-height: 20px;  margin-bottom: 5px;  }
/*评论*/
.stbox05box {  background: none repeat scroll 0 0 #ebebeb;  overflow: hidden;  padding: 19px 0 10px 13px;  width: 1200px;  margin: 0 auto;  }
.stbox05box ul {  width: 1200px;  }
.stbox05box li {  float: left;  height: 70px;  overflow: hidden;  width: 235px;  }
.stbox05box li a:hover ins {  background: url("../images/tpl/png08.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);  padding: 6px 0 0 10px;  }
.stbox05box li a ins {  background: url("../images/tpl/png07.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);  display: block;  float: left;  font-size: 12px;  height: 44px;  padding: 6px 0 0 10px;  width: 152px;  text-decoration:none;  }
.stbox05box li a:hover ins p {  color: #000;  }
.stbox05box li a ins p {  color: #747474;  height: 35px;  line-height: 17px;  overflow: hidden;  width: 147px;  }
.stbox05box li a img {  display: block;  float: left;  margin: 0 6px 0 0;  width: 40px;  height: 40px;  border: 6px solid #ffffff;  }
/*广告位css*/
.i_001{ width: 1200px; margin: 0 auto;}
.i_002{ width: 1200px; margin: 0 auto;}
.i_005{ width: 1200px; margin: 0 auto;}
.i_006  { float: right;margin: 1px;padding-right: 3px}
.i_004  { float: left;margin: 1px;padding-right: 3px}
.i_005 img { padding-top: 10px}
/*.i_001 .i_002 .i_003 .i_004 .i_005 img{max-width:100%;height:auto;}*/
.img_01 ,.img_02 ,.img_03 ,.img_04{ float: left;padding: 5px;}
.i_003 img {  height: auto;  max-width: 100%;}
/*尾*/
.flooter{background:#2E3339;padding:40px 0;font-family:Verdana, Arial, Helvetica, sans-serif;clear:both;}
.bottom6{overflow: hidden;  width: 100%;}
.copyright {  margin: 0 auto;  overflow: hidden;  padding: 26px 0 28px;  width: 1192px;  }
.links {  margin: 0 auto;  overflow: hidden;  padding: 0 0 33px;  width: 1192px;  }
.copyright p {  color: #fff;  font-family: "微软雅黑";  font-size: 16px;  padding: 0 0 5px;  text-align: center;  }
.copyright span {  color: #aca19b;  display: block;  font-family: Verdana,Geneva,sans-serif;  font-size: 12px;  padding: 0 0 4px;  text-align: center;  text-transform: uppercase;  }
.copyright font {  color: #afa49e;  display: block;  font-family: "微软雅黑";  font-size: 12px;  text-align: center;  }
.copyright font a {  color: #afa49e;  }
.links p {  color: #b0a49e;  display: block;  line-height: 21px;  }
.links p a {  color: #b0a49e;  padding: 0 8px;  }
